.my-month-canlendar-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    width: 324px;
    height: 38px;
  }
  
  td {
    width: 81px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
  }
  
  .title-year {
    color: #333;

    &:hover {
      color: hotpink;
    }
  }
  
}

.month-control-area {
  height: 30px;
  border-bottom: 1px solid #ddd;

  .control-month-btn {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  .control-show {
    float: left;
    display: block;
    width: 264px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: hotpink;
    }
  }
}

